.wrapper
  = render "messages/side_bar"
  .chat
    .header
      .group  
        .group_list
          = @group.name
        .group_member
          .menber
            menber:
          .menber_name
            - @group.users.each do |user|
              =user.name
      .Edit
        .Edit_btn
          = link_to "edit" do
            Edit
    .main
      = render @messages
    
    = form_for [@group, @message],html: { class: "footer" } do |f|
      .footer_message
        = f.text_field :content, class: 'type a message', placeholder: 'type a message'
        = f.label :image, class: 'message_image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image
        
      = f.submit 'Send', class: 'footer_send_btn'


